{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Home{% endblock title %}</title>
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicons/favicon.ico' %}" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" value="en-US" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0. shrink-to-fit=no" />

    <link href="{% static 'vendor/bootstrap/4.4.1/css/bootstrap.min.css' %}" rel="stylesheet" media="screen" />
    <link href="{% static 'app/css/app.css' %}" rel="stylesheet" media="screen" />
    {% block style %}{% endblock style %}
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Poll-App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/app">App</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/app/examples">Examples</a>
                </li>
            </ul>
            &nbsp;
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/app/help">Help</a>
                </li>
            </ul>

            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                <a class="nav-link" href="/admin">Admin</a>
            </button>
        </div>
    </nav>
    {% block content %}{% endblock content %}
</body>

<script src="{% static 'vendor/popper/1.14.3/popper.min.js' %}"></script>
<script src="{% static 'vendor/jquery/3.4.1/js/jquery.min.js' %}"></script>
<script src="{% static 'vendor/jquery/3.4.1/js/jquery.slim.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/4.4.1/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'app/js/app.js' %}"></script>

</html>